@charset "UTF-8";

:root {
    --cor0: #FEFEFE;
    --cor1: #9BE9FE;
    --cor2: #A9EAFA;
    --cor3: #158FD2;
    --cor4: #0B6DB1;
    --cor5: #3b5998;
    --cor6: #b31010af;
    --cor7: #b30e0e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f5f5f5;
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to top,var(--cor5),var(--cor4));
    min-height: 40px;
    padding-top: 10px; 
}

header > h1 {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: normal;
    padding-left: 6px;
    margin-left: 58px;
    text-shadow: 2px 2px 0px #00000049;
    text-align: center;
}

header > img {
    float: left;
    width: 60px;
    height: 40px;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .campo textarea {
        width: 100% !important;
        max-width: 100%;
    }
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
        position: absolute;
        right: 0;
        bottom: 130px;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

nav {
    background-color: var(--cor5);
    padding: 10px 0px 12px 10px;
    box-shadow: 0px 7px 7px #00000031;
}

nav > a{
    color: var(--cor1);
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.1s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}


nav .nav_cad, .nav_log{
    padding: 0px 10px 0px 10px;
    float: right;
}

nav .icon{
    display: none;
    padding: 0px;
}

nav > a > img{
    padding: 1px;
    width: 36px;
    height: 25px;
}

.main-diminuida {
    min-width: 200px;
    max-width: 650px;

    text-align: center;
}

.main-diminuida h2{
    text-align: left;
    margin-left: 111px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 20px;

    box-shadow: 0px 0px 10px #00000069;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    font-family: var(--fonte-padrao);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
    margin-left: 6px;
}

main p {
    font-family: var(--fonte-padrao);
    margin-left: 15px;
}


input, button, textarea, select {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    color: var(--cor4);
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
    margin-right: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #000000;
    display: block;
}

fieldset{
    border: 0em;
}

fieldset.grupo .campo {
    float:  left;
    margin-left: 1em;
}

.grupo-centralizado {
    text-align: left;
    border: 0em;
    margin: 0px auto;
    width: 67%;
}

.hiddenFields {
    visibility: hidden;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="password"], .campo textarea, .campo input[type="number"], .campo select, .campo input[type="datetime-local"] {
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px #00000033;
    display: block;
}

.campo input:focus, .campo textarea:focus, .campo select:focus {
    background: var(--cor0);
}

.campo textarea {
    width: 25em;
    max-width: 25em;
    height: 5em;
    line-height: 1.5;
}

.campo a {
    color: var(--cor5);
    font-weight: bolder;
    text-decoration: none;
}

.campo a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

.botao {
    font-size: 1.2em;
    background: var(--cor5);
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #00000033;
    text-shadow: 1px 1px 1px #00000080;
}

.botao:hover {
    background: var(--cor4);
    box-shadow: inset 2px 2px 2px #00000033;
    text-shadow: none;
}

.botao-excluir {
    font-size: 1.2em;
    background: var(--cor6);
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #00000033;
    text-shadow: 1px 1px 1px #00000080;
}

.botao-excluir:hover {
    background: var(--cor7);
    box-shadow: inset 2px 2px 2px #00000033;
    text-shadow: none;
}

footer {
    background-color: var(--cor5);
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
}

footer a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

.table-exames {
    border-collapse: collapse

}

.table-exames th {
    border: 1px solid black;
    padding: 15px;
    background-color: #9BE9FE;
}

.table-exames td {
    border: 1px solid black;
    padding: 15px;
}

.tab-exames {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balao {
    color: var(--cor0);
    box-shadow: 2px 2px 2px #00000033;
    text-shadow: 1px 1px 1px #00000080;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--cor5);
    padding:15px; 
    border-radius: 300px;
}

.white a{
    color: var(--cor0);
    font-weight: bolder;
    text-decoration: none; 
}

.white a:hover{
    text-decoration: underline;
    color: var(--cor0);
}