<%
const cancelLink = `http://localhost:8000/cancel-scheduling.php?scheduleId=${createSchedule._id}`
%>

<p>Olá <%= user.firstName %>, </p>

<p>Seu exame foi agendado com sucesso. </p>

<p>Por favor, não se atrase. Se possível, chegar 10 minutos antes.</p>

<p>Detalhes do agendamento:</p>

<p><b>Nome do Exame:</b> <%= exam.name %></p>
<p><b>Dia:</b> <%= createSchedule.schedule.day %></p>
<p><b>Horário:</b> <%= createSchedule.schedule.time %></p>
<p><b>Endereço:</b> Rua dos Exames, 1820, Campinas.</p>

<br>
<p>PS: O pagamento é feito no local, em dinheiro ou cartão.</p>

<p><a href="<%= cancelLink %>"> Para cancelar seu agendamento, clique aqui.</a></p>

<p>Se tiver qualquer dúvida, não hesite em entrar em contato conosco.</p>

<p>Atenciosamente,</p>

<p>
  <span style="font-size:12px;">
    <span style="font-family:trebuchet ms,helvetica,sans-serif;">
      <br><b>John Doe</b><br>
      Digital Marketing Assistent <br>
      ExamLab - Exames Laboratoriais, facilitando sempre sua vida.
      <br>
      T +55 (19) 99906-0315 | <a alias="examlab@examlab.com" conversion="false" data-linkto="mailto:" href="mailto:examlab@examlab.com??subject=" style="color:#007FFF;text-decoration:underline;"
        title="examlab@examlab.com">examlab@examlab.com</a>
      <br>
      <a href="www.examlab.com.br" style="color:#007FFF;text-decoration:underline;">www.examlab.com.br</a>
    </span>
  </span>
</p>
