<p>Administrador, o cliente <b><%= body.name %></b> te enviou uma mensagem. </p>

<p><b>Email de envio:</b> <%= body.email %></p>
<p><b>Assunto:</b> <%= body.subject %></p>
<p><b>Descrição:</b> <%= body.description %></p>

<p>Atenciosamente,</p>

<p>
  <span style="font-size:12px;">
    <span style="font-family:trebuchet ms,helvetica,sans-serif;">
      <br><b>John Doe</b><br>
      Digital Marketing Assistent <br>
      ExamLab - Exames Laboratoriais, facilitando sempre sua vida.
      <br>
      T +55 (19) 99906-0315 | <a alias="examlab@examlab.com" conversion="false" data-linkto="mailto:" href="mailto:examlab@examlab.com??subject=" style="color:#007FFF;text-decoration:underline;"
        title="examlab@examlab.com">examlab@examlab.com</a>
      <br>
      <a href="www.examlab.com.br" style="color:#007FFF;text-decoration:underline;">www.examlab.com.br</a>
    </span>
  </span>
</p>
