<%
const resetPasswordLink = `http://localhost:8000/password-reset-submit.php?id=${findUser._id}&email=${findUser.email}`
%>

<p>Olá <%= findUser.firstName %>, </p>

<p>Recebemos seu pedido para redefinição de senha.</p>

<p><a href="<%= resetPasswordLink %>"> Redefina sua senha clicando aqui </a></p>

<p>Caso não tenha sido você que solicitou a redefinição, ignore este e-mail.</p>

<p>Atenciosamente,</p>

<p>
  <span style="font-size:12px;">
    <span style="font-family:trebuchet ms,helvetica,sans-serif;">
      <br><b>John Doe</b><br>
      Digital Marketing Assistent <br>
      ExamLab - Exames Laboratoriais, facilitando sempre sua vida.
      <br>
      T +55 (19) 99906-0315 | <a alias="examlab@examlab.com" conversion="false" data-linkto="mailto:" href="mailto:examlab@examlab.com??subject=" style="color:#007FFF;text-decoration:underline;"
        title="examlab@examlab.com">examlab@examlab.com</a>
      <br>
      <a href="www.examlab.com.br" style="color:#007FFF;text-decoration:underline;">www.examlab.com.br</a>
    </span>
  </span>
</p>
